*  # 모든 파일 제외

!*.c  # C 소스 파일은 추적합니다.
!*.h  # C 헤더 파일은 추적합니다.

!*.cpp  # C++ 소스 파일은 추적합니다.
!*.hpp  # C++ 헤더 파일은 추적합니다.

# C/C++ Assembly 파일
!*.S  # 대문자 확장자를 사용하는 Assembly 파일은 추적합니다.
!*.s  # 소문자 확장자를 사용하는 Assembly 파일은 추적합니다.
